.landing-container {
  text-align: center;
  margin-top: 100px;
}

.landing-buttons {
  margin-top: 30px;
}

.landing-buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
